.App {
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    padding: 0px 16px;
    .AppSection {
        margin: 12px 16px;
        // width: 100%;
        .headerSection {
            display: flex;
            justify-content: space-between;
            margin: 12px 0;
            .headerBtn {
                display: flex;
                align-items: center;
            }
        }
    }
    // img {
    //     width: 600px;
    //     height: 600px;
    // }
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    h6{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.EmailEntries {
    display: flex;
    align-items: center;
}

.AreaExperience {
    p {
        color: #00589A;
        font-weight: 600;
        // margin: 12px 0 7px 0px;
        margin: 7px 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
    }
    .CheckBoxSection {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .CheckBox {
            width: 47%;
            span{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    }
}
.modalTextbox {
    width: 48%; 
    margin: 8px 0 8px 0 !important;
}

.btnSubmit {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}