.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.CompanyContactInfo {
    margin: 5px 0;
    .CompanyContact {
        width: 23%;
        margin: 16px;
        &:nth-child(1) {
            margin-left: 0;
        }
    }
}

.PrimaryServices {
    p {
        color: #00589A;
    }
    .CheckboxSection {
        display: flex;
        flex-wrap: wrap;
        margin: 8px 0px 8px 0px;
        // justify-content: space-between;
        justify-content: flex-start;
        .Checkbox {
            width: 23%;
            margin: 16px 16px 10px 16px;
        
        }
    }
}

// checkbox media querries
// @media only screen and (min-width:1280px){
//     .Checkbox {
//         width: 23% !important;
//     }
// }

// @media only screen and (min-width:1536px){
//     .Checkbox {
//         width: 23% !important;
//     }
// }

// @media only screen and (min-width:1745px){
//     .Checkbox {
//         width: 25% !important;
//     }
// }

// @media only screen and (min-width:1920px){
//     .Checkbox {
//         width: 25% !important;
//     }
// }

.companyEmailTF{
    width: 23%;
    margin: 16px !important;
}
@media only screen and (min-width:1280px){
    .companyEmailTF{
        margin: 16px 16px 16px 0px !important;
    }
}

@media only screen and (min-width:1536px){
    .companyEmailTF{
        margin: 16px 16px 16px 10px !important;
    }
}

@media only screen and (min-width:1745px){
    .companyEmailTF{
        margin: 16px 16px 16px 16px !important;
    }
}

@media only screen and (min-width:1920px){
    .companyEmailTF{
       margin: 16px 16px 16px 16px !important;
    }
}

.bottomBtnSection {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.idTextField{
    input{
        padding: 0 13px;
        // font-size: 0.9vw;
        font: inherit;
        height:40px;
        
    }
}