.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.CompanyContactInfo {
    margin: 12px 0;
    .CompanyContact {
        width: 23%;
        margin: 16px;
        margin-left: 0;
    }
}

.PrimaryServices {
    p {
        color: #00589A;
    }
    .CheckboxSection {
        display: flex;
        flex-wrap: wrap;
        margin: 6px;
        .Checkbox {
            width: 23%;
            margin: 16px;
        }
    }
}

.bottomBtnSection {
    display: flex;
    justify-content: flex-end;
}