.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.NumberType {
    display: flex;
}

.bottomBtnSection {
    display: flex;
    justify-content: flex-end;
}