.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.NumberTypeSection {
    display: flex;
    align-items: center;
    .NTItem {
        width: 23%;
        margin: 16px;
        &:nth-child(1) {
            margin-left: 0;
        }
    }
}

.bottomBtnSection {
    display: flex;
    justify-content: flex-end;
}