.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.CategorySection {
    display: flex;
    align-items: center;
    margin: 20px 0;
    div{
        height: 40px !important;
        div{
            div{
                padding:0 10px;
                display: flex;
                align-items: center;
            }
        }
    }

}

.bottomBtnSection {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.NoAndSizeSection {
    display: flex;
    flex-wrap: wrap;
    .NoAndSizeItem {
        width: 30%;
        margin: 10px;
        p {
            color: #00589A;
        }
        .InputSection {
            display: flex;
            margin: 8px 0;
            .TextInput {
                width: 48%;
                margin: 0 10px 0 0;
            }
        }
    }
}

.idTextField{
    width: 8%;
    input{
        padding: 0 13px;
        height:40px;
    }
}



