.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.Regulatory {
    p {
        color: #00589A;
    }
    .RegulatorySection {
        display: flex;
        margin: 6px 0;
        .CheckBox {
            width: 48%;
        }
    }
}

.bottomBtnSection {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}