.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.AreaExperience {
    p {
        color: #00589A;
        font-weight: 700;
        margin: 12px 0;
    }
    .CheckBoxSection {
        display: flex;
        .CheckBox {
            width: 24%;
        }
    }
}

.AreaDisease {
    p {
        color: #00589A;
        font-weight: 700;
        margin: 12px 0;
    }
}