.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.AreaExperience {
    p {
        color: #00589A;
        font-weight: 700;
        margin: 8px 0;
    }
    .CheckboxSection {
        display: flex;
        flex-wrap: wrap;
        margin: 6px;
        .Checkbox {
            width: 18%;
            margin: 10px;
        }
    }
}

.AreaDisease {
    p {
        color: #00589A;
        font-weight: 700;
        margin: 12px 0;
    }
}

.bottomBtnSection {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.idTextField{
    width: 8%;
    input{
        padding: 0 13px;
        height:40px;
    }
}