.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.uploadSection {
    margin: 20px 0;
    .upload {
        margin: 15px 0;
        p {
            color: #00589A
        }
    }
    .infoTitleSection {
        color: #00589A;
        margin-bottom: 8px;
        font-weight: 700;
    }
    .uploadItem {
        // display: flex;
        // align-items: center;
        margin: 10px 0;
    }
    .SelectedFiles {
        // margin: 0 10px;
        width: auto;
        margin: 8px 0;
        .File {
            // display: flex;
            // justify-content: space-between;
            background: #bdffc2;
            color: #1e6b24;
            padding: 3px 10px;
            border-radius: 13px;
            .fileDelete {
                color: red;
                margin-left: 8px;
                cursor: pointer;
            }
        }
    }
}

.bottomBtnSection {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.idTextField{
    width: 8%;
    input{
        padding: 0 13px;
        height:40px;
    }
}

// modal Styles
.modalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .modalSize{
        height: 485px;
        width: 30%;
        background-color: #fff;
        // padding: 20px;
        border-radius: 5px;
        h3{
            color: #00589A;
        }
        .header{
            height: 42px;
         display: flex;
        //  justify-content: space-between;
         align-items: center;
         border-radius: 5px;
         background: gainsboro;
         button{
            padding: 0 5px 0 0;
         }
        }
        .section{
            h3{
                font-size: 18px;
                margin: 8px 0 0 0;
            }
        }
        .footerSection{
            display: flex;
            justify-content: flex-end;
        }
    }
}

// Table Design
.iconBtnStyle{
    background-color: transparent !important;
    svg{
        margin: 0px 6px;
    }
}