.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.uploadSection {
    margin: 20px 0;
    .upload {
        p {
            color: #00589A
        }
    }
    .infoTitleSection {
        color: #00589A;
        margin-bottom: 8px;
        font-weight: 700;
    }
    .uploadItem {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    .SelectedFiles {
        margin: 0 10px;
        .File {
            .fileDelete {
                color: red;
                margin-left: 8px;
                cursor: pointer;
            }
        }
    }
}

.bottomBtnSection {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.idTextField{
    width: 8%;
    input{
        padding: 0 13px;
        height:40px;
    }
}