* {
    margin: 0;
    padding: 0;
}

#workbenchPageContent {
    max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}

tbody .MuiTableCell-root {
    padding: 6px !important;
}

.MuiSnackbar-anchorOriginBottomCenter {
    left: unset !important;
    right: 0px !important;
    top: 100px !important;
    bottom: unset !important;
    transform: translateX(-20%) !important;
}