* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

#workbenchPageContent {
    max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}

/* disable field style */
.disableInput fieldset{
    border-color: rgba(0, 0, 0, 0.23) !important;
}
.disableInput input{
    color: rgba(0, 0, 0, 0.87) !important;
}
.disableInput fieldset:hover{
    border-color: rgba(0, 0, 0, 0.23) !important;
}